APP_ENV=development
APP_URL=http://localhost/ECF-2026/public
MAIL_FROM=no-reply@vite-et-gourmand.fr
COMPANY_EMAIL=contact@vite-et-gourmand.fr
COMPANY_LEGAL_NAME="Vite & Gourmand"
COMPANY_ADDRESS="Bordeaux, France"
COMPANY_SIRET=
