APP_ENV=development
APP_URL=http://localhost/ECF-2026/public
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=vite_et_gourmand
DB_USER=root
DB_PASSWORD=
MONGODB_URI="mongodb+srv://UTILISATEUR:MOT_DE_PASSE@cluster.mongodb.net/"
MONGODB_DATABASE=vite_et_gourmand
MONGODB_REVIEWS_COLLECTION=reviews
MONGODB_ANALYTICS_COLLECTION=order_analytics
MAIL_FROM=no-reply@vite-et-gourmand.fr
COMPANY_EMAIL=contact@vite-et-gourmand.fr
COMPANY_LEGAL_NAME="Vite & Gourmand"
COMPANY_ADDRESS="Bordeaux, France"
COMPANY_SIRET=
